body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgba(216, 243, 220, 1);
}

h1.main {
    color: #40c552;
    text-align: center;
}

h1.itemInfo {
    text-align: left;
}

p.category {
    text-align: center;
}

p.short {
    margin-left: 5%;
}

p.price {
    margin-left: 5%;
}

div.root {
    text-align: center;
}

div.category {
    box-shadow: 0 0 10pt #198959cf;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 5px;
    border-radius: 8px;
    transition: transform 300ms;
    vertical-align: middle;
    display: inline-block;
}

div.category:hover {
    transform: scale(1.1);
}

div.item {
    width: 300px;
    height: 150px;
    border: 2px solid #66a666;
    float: left;
    margin-left: 6%;
    margin-top: 15px;
    background-color: white;
}

div.big {
    box-shadow: 0 0 10pt #198959cf;
    width: 340px;
    height: 210px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 0.2s linear;
}

div.big:hover {
    transform: scale(1.1);
}

div.itemInfo {
    padding: 3px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: white;
    width: 800px;
    box-shadow: 0 0 10pt #198959cf;
    border-radius: 8px;
}

.itemInfo {
    margin: 5%;
}

button.link {
    position: fixed;
    bottom: 10%;
    left: 45%;
    border: none;
    padding: 10px; /* Поля вокруг текста */
    background: #1b4332; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 10%; /* Ширина слоя */
    border-radius: 8px;
}

button.info {
    background: none;
    border: none;
    position: relative;
    left: 6%;
    top: 8%;
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 5px;
    font-size: unset;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

td.orderTable {
    border: 2px solid grey;
    border-radius: 5px;
    padding: .3em 1em;
}

td {
    border: 2px;
    padding: .3em 1em;
}

button.addItem {
    background: none;
    border: none;
    position: relative;
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 5px;
    font-size: unset;
}

button.minus {
    background: none;
    border: none;
    position: relative;
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 5px;
    font-size: unset;
}
button.plus {
    background: none;
    border: none;
    position: relative;
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 5px;
    font-size: unset;
}
div.number {
    background: none;
    border: none;
    position: relative;
    color: #39b54a; /* Цвет текста */
    border-radius: 5px;
    font-size: unset;
}
table.countTable {
    position: relative;
    left: 5%;
    /*top: 9%;*/
}

button.greenButton {
    background: none;
    border: none;
    position: relative;
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 5px;
    font-size: unset;
    padding: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

input.greenButton {
    background: none;
    border: none;
    position: relative;
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 5px;
    font-size: unset;
    padding: 4px;
}

/*table#orderTable*/
/*{*/
/*    color: #39b54a;*/
/*    border-radius: 5px;*/
/*    font-size: unset;*/
/*}*/

/*table#sumTable*/
/*{*/
/*    !*margin: auto;*!*/
/*    color: #39b54a;*/
/*    border-radius: 5px;*/
/*    font-size: unset;*/
/*    margin-top: 30px;*/
/*}*/

/*table#ordersByPhoneTable*/
/*{*/
/*    color: #39b54a;*/
/*    border-radius: 5px;*/
/*    font-size: unset;*/
/*}*/


button.darkGreenButton {
    position: relative;
    border: none;
    padding: 4px; /* Поля вокруг текста */
    background: #1b4332; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}